    @import url("https://fonts.googleapis.com/css?family=Crete+Round|Quicksand|Raleway|Saira+Extra+Condensed|Tajawal&display=swap");

    body {
      background-color: #333;
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
      background-image: url("indexbackground.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }

    #überschrift {
      font-family: Saira Extra Condensed, sans-serif;
      color: whitesmoke;
      text-align: center;
      margin-top: 3%;
      margin-bottom: 3px;
      font-size: 60px;
      font-weight: lighter;
      text-shadow: 2px 3px #333;
    }

    table {
      border-radius: 30px;
      width: 700px;
      height: 500px;
    }

    td {
      width: 100%;
      border-radius: 5px;
      margin-left: 150px;
      margin-right: 150px;
    }

    class {
      width: 100%;
      border-radius: 5px;
      margin-left: 150px;
      margin-right: 150px;
    }

    #td1 {
      background-color: #9000ff;
    }

    #td2 {
      background-color: #000cff;
    }

    #td3 {
      background-color: #11a5ad;
    }

    #td4 {
      background-color: #259b5c;
    }

    .Pfund1 {
      background-color: #d8dd46;
    }

    .Mikrogramm1 {
      background-color: #dd6f46;
    }

    h4 {
      color: white;
      font-family: Quicksand, sans-serif;
    }

    #kgOutPut {
      color: rgb(255, 255, 255);
      font-family: Raleway, sans-serif;
    }

    #tonneOutPut {
      color: rgb(255, 255, 255);
      font-family: Raleway, sans-serif;

    }

    #mgOutPut {
      color: rgb(255, 255, 255);
      font-family: Raleway, sans-serif;
    }

    #mikrogrammOutPut {
      color: rgb(255, 255, 255);
      font-family: Raleway, sans-serif;
    }

    #pfundOutPut {
      color: rgb(255, 255, 255);
      font-family: Raleway, sans-serif;
    }

    #grammInput {
      position: relative;
      left: 70px;
      bottom: 40px;
      cursor: pointer;
      border: 2px, 5px;
      border-color: #333;
      border-radius: 10px;
      font-family: Raleway;
      background-color: #333;
      color: white;
      background: linear-gradient(21deg, #10abff, #1beabd);
      border-style: groove;
      width: 30%
    }

    #grammInput:hover {
      background-color: rgb(80, 80, 80);
    }


    #myTable {
      position: relative;
      left: 28%;
    }
